<!--The content below is only a placeholder and can be replaced.-->

<div>

  <form #myForm="ngForm" (ngSubmit)="filterdates(myForm.value)">
    <label for="token">Token:</label>
    <input ngModel name="token" type="text"><br/>    
    <label for="date">Date:</label>
    <input ngModel name="filterdate" type="date"><br />
    <input ngModel type="radio" id="hour" name="filterType" value="hour">
    <label for="hour">Hour</label>
    <input ngModel type="radio" id="day" name="filterType" value="day">
    <label for="day">Day</label><br />
    <button class="button" type="submit">Filter</button>
  </form>

</div>

<div *ngIf="chart">
  <canvas id="canvas">{{ chart }}</canvas>
</div>
